  <div class="main user-edit">
    <div class="col-md-offset-4 col-md-4 edit-container">
      <div class="form-head">
        <div class=" text-center user-form">
          <%= form_tag ("/users/#{@user.id}/update") %>
            <p>User name</p>
             <input name="name" value="<%= @user.name %>">
            <p>Image</p>
              <input name="image", type="file">
            <p>E-mail</p>
             <input name="email", value="<%= @user.email %>">
             <div class="submit-btn"><input type="submit", value="保存"></div>
        </div>
      </div>
    </div>
  </div>
