<div class="top-hero-wrapper text-center">
  <div class="container top-hero-container">
    <h1 class="text-blue"><span>バイカーのための掲示板</span></h1>
    <h2 class="text-blue"><span>新たなバイク仲間を見つけよう</span></h2>
    <div class="row">
      <div class="col-md-6">
        <%= link_to 'Sign in', new_user_path, class: "btn-btn-top" %>
      </div>
      <div class="col-md-6">
        <%= link_to 'Log in', login_path, class: "btn-btn-top" %>
      </div>
    </div>
  </div>
</div>