<div class="rooms-main-wrapper">
    <div class="rooms-main-container">
        <div class="row">
            <div class="col-md-3 left-side">
                <h1 class="rooms-menu">Rooms Menu</h1>
                <ul class="side-menu">
                    <li style="margin-bottom:20px;"><a href="/rooms/purpose">Purpose</a></li>
                    <li style="margin-bottom:20px;"><a href="/rooms/start_time">Start_Time</a></li>
                    <li style="margin-bottom:20px;"><a href="/rooms/end_time">End_time</a></li>
                    <li style="margin-bottom:20px;"><a href="/rooms/motorcycle_type">Motorcycle_type</a></li>
                </ul>
            </div>
            <div class="col-md-9 right-side">
                iiii
            </div>
        </div>
    </div>
</div>



