<div class="rooms-show-wrapper">
  <div class="rooms-show-container">
    <div class="row">
      <div class="col-md-3 left-side">
        <p class="room-menu">Room Menu</p>
      <% @rooms.each do |room| %>
        <ul class="side-menu">
          <li style="margin-bottom:20px;">
           <%= link_to room.title, "/rooms/#{room.id}" %>
           
          </li>
        </ul>
       <% end %>
      </div>
      <div class="col-md-9 right-side bg-info">
        iiiii
      </div>
    </div>
  </div>
</div>