h1, h2 {
  font-weight: bold;
  
}

.text-blue {
  color: blue;
}

.btn-btn-top-blue {
  color: blue;
}



.text-blue span { 
  background: #2C7CFF;
  padding: 5px;
  
}


.top-hero-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: image-url('top_background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  padding-top: 100px;
}

.top-hero-container {
  padding-top: 260px;
  h1 {
    font-size: 56px;
    margin-bottom: 20px;
  }

  h2 {
    margin-bottom: 60px;
  }
}

.text-white {
  font-size: 30px;
  border: 2px sold #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgba(0,0,0,0.0);
  color: white;
  
  &:hover {
    color: #fff;
  }
}

.form-control {
  height: 45px;
}

.users-new-wrapper {
  width: 100vw;
  height: 100%;
  background-image: image-url('top_background.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  padding-top: 100px;
  padding-bottom: 50px;
  

  .users-new-container {
   //margin-top: 220px;

    .form-group {
      margin-bottom: 20px;
    }
  }
}

.navbar-transparent {
  margin-bottom: 0px;
  background-color:gray;
  a {
    color: #fff !important;
  }

  .navbar-brand {
    padding: 0px;
    margin-top: 15px;
  }

  img {
    height: 40px;
  }
}

/* show */
.users-show-wrapper {
  background-color: grey;
}
.show-container {
  margin-top: 215px;
  font-size: 30px;
  }
  
/*画像を丸く表示 border-radius: 10px?
/*一つ目二重に表示されちゃう
// .trim-image-to-circle {
//     background-image: url("black-login-user.png");  /* 表示する画像 */
//     width:  180px;       /* ※縦横を同値に */
//     height: 180px;       /* ※縦横を同値に */
//     border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
//     background-position: center center;  /* 横長画像の左上を基準に表示 */
//     display: inline-block;  /* 複数の画像を横に並べたい場合 */
//     border: 4px solid #black
// }
/*二つ目全部の画像が丸くなる
//img {
//  border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
  //width: 100px;  /* 縦横を同じ値にする */
  //height: 100px;  /* 縦横を同じ値にする */
  //object-fit: cover; /* 縦横比固定したまま上2つの縦横の範囲内に収まるように配置する */
//}

.trim-image-to-circle {
   width:  180px;       /* ※縦横を同値に */
     height: 180px;       /* ※縦横を同値に */
     border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
     background-position: center center;  /* 横長画像の左上を基準に表示 */
     display: inline-block;  /* 複数の画像を横に並べたい場合 */
     border: 4px solid #black
}



/* edit */
.edit-container {
  margin-top: 300px;
  font-size: 25px;
}

.submit-btn { 
  margin-top :15px;
  text-align : center ; 
}

/*rooms#show*/
.rooms-show-wrapper {
  background-color: #e0ffff;
}
.rooms-show-container {
  padding-top: 300px;
}

.menu-space {
  margin-top: 15px;
}
.menu-space2 {
  margin-left: 15px;
}

.btn-box1 {
    margin: 2em 0;
    background: #FFBEDA;
}
.btn-box1 .box-title1 {
    font-size: 1.2em;
    background: #ff1c03;
    padding: 4px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    letter-spacing: 0.05em;
    font-family: 'Londrina Shadow', cursive;
}
.btn-box1 p {
    padding: 15px 20px;
    margin: 0;
    color: black;
}

.btn-box2 {
    margin: 2em 0;
    background: #EDFFBE;
}
.btn-box2 .box-title2 {
    font-size: 1.2em;
    background: #B6FF01;
    padding: 4px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    letter-spacing: 0.05em;
    font-family: 'Londrina Shadow', cursive;
}
.btn-box2 p {
    padding: 15px 20px;
    margin: 0;
    color: black;
}

.btn-box3 {
    margin: 2em 0;
    background: #BAD3FF;
}
.btn-box3 .box-title3 {
    font-size: 1.2em;
    background: #005FFF;
    padding: 4px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    letter-spacing: 0.05em;
    font-family: 'Londrina Shadow', cursive;
}

.btn-box3 p {
    padding: 15px 20px;
    margin: 0;
    color: black;
}

.btn-box4 {
    margin: 2em 0;
    background: #FFC7AF;
}
.btn-box4 .box-title4 {
    font-size: 1.2em;
    background: #FF4F02;
    padding: 4px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    letter-spacing: 0.05em;
    font-family: 'Londrina Shadow', cursive;
}

.btn-box4 p {
    padding: 15px 20px;
    margin: 0;
    color: black;
}

/*rooms-main-left/rightも4画面共通(purpose,start,end,type)*/

/*rooms-main-left*/
.left-side{
  height: 100vh;
  padding-top: 60px;
  text-align: center;
  background-color: #1e90ff;
}
.rooms-menu {
  color: white;
  font-family: 'Londrina Shadow', cursive;
}
.side-menu {
  margin-top: 100px;
  list-style: none;
  font-size: 40px;
  font-family: 'Londrina Shadow', cursive;
}


a {
  color: white;
}

a:hover {
  border: solid 2px white;
  text-decoration:none;
}


/*rooms-main-right*/
.right-side {
  height: 100vh;
  background-color: #87ceeb;
}
