html {
  height: 100%;
}

body {
  height: 100%;
}

h1, h2 {
  font-weight: bold;
  
}

.text-blue {
  color: blue;
}

.btn-btn-top-blue {
  color: blue;
}



.text-blue span { 
  background: #2C7CFF;
  padding: 5px;
  
}


.top-hero-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: image-url('top_background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  padding-top: 100px;
}

.top-hero-container {
  padding-top: 260px;
  h1 {
    font-size: 56px;
    margin-bottom: 20px;
  }

  h2 {
    margin-bottom: 60px;
  }
}

.text-white {
  font-size: 30px;
  border: 2px sold #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgba(0,0,0,0.0);
  color: white;
  
  &:hover {
    color: #fff;
  }
}

.form-control {
  height: 45px;
}

.users-new-wrapper {
  width: 100vw;
  height: 100%;
  background-image: image-url('top_background.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  padding-top: 100px;
  padding-bottom: 50px;
  

  .users-new-container {
   

    .form-group {
      margin-bottom: 20px;
    }
  }
}

.navbar-transparent {
  margin-bottom: 0px;
  background-color:gray;
  a {
    color: #fff !important;
  }

  .navbar-brand {
    padding: 0px;
    margin-top: 15px;
  }

  img {
    height: 40px;
  }
}

/* show */
.users-show-wrapper {
  background-color: grey;
}
.show-container {
  margin-top: 215px;
  font-size: 30px;
  }

.user_image {
  border-radius: 50%;
  border: solid 1px black;
 
  width:  100px;       /* ※縦横を同値に */
  height: 100px; 
}
  


a.update {
  color: black;
}



/* edit */
.edit-container {
  margin-top: 300px;
  font-size: 25px;
}

.submit-btn { 
  margin-top :15px;
  text-align : center ; 
}

/*rooms-index*/
.rooms-index-container {
  padding-top: 270px;
  height: 100vh;
  background-image: image-url('top_background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.box {
    margin: 2em 0;
    background: #dcefff;
}
.box .box-title {
    font-size: 1.4em;
    background: #5fb3f5;
    padding: 4px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    letter-spacing: 0.05em;
    font-family: 'Londrina Shadow', cursive;
}
.box p {
    padding: 15px 10px;
    margin: 0;
    text-align: center;
    color: black;
}

  
a:hover {
     text-decoration: none;
  }
  
/*rooms-show-left*/
  .left-side {
    height: 100vh;
    padding-top: 65px;
    background-color: #1e90ff;
  }
 .room-menu {
   margin-bottom: 100px;
   font-size: 60px;
   color: white;
   font-family: 'Londrina Shadow', cursive;
   text-align: center;
 }
  .side-menu {
    font-size: 30px;
    text-align: center;
    list-style: none;
    font-color: white
  }
  
  a {
  color: white;
  }
  
  
  /*rooms-show-right*/
  .right-side {
    height: 100vh;
  }
  
 .contents-box {
    width: 80%;
    height: 470px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 120px;
    background-color: white;
    border: solid #d9edf7;/*線*/
    border-radius: 10px;/*角の丸み*/
    overflow: scroll;
}

.posts {
  text-align: left;
  margin-left: 70px;
  margin-bottom: 15px;
  
}

.post-user-name {
  font-weight: 600;
}

.time {
  color: gray;
  margin-left: 15px;
}

form {
  margin-top: 20px;
  margin-left: 10%;
}

.text_area {
  font-size: 20px;
  width: 70%;
  height: 50px;
  resize: none;
  border-radius: 10px;
}

.btn {
  width: 18%;
  margin-bottom: 40px;
  height: 50px;
  boder-radius: 10px;
　color: white;
  
}
/*comment_area*/
.comment_area {
  width: 367px;
  height: 29px;
  resize: none;
}

.comments_box {
  height: 130px;
  width: 70%;
  border: solid 1px black;
  border-radius: 10px;
  overflow: scroll;
}
.comments {
  margin-bottom: 15px;
  margin-left: 50px;
}

