h1, h2 {
  font-weight: 200;
}

.text-blue {
  color: blue;
}

.btn-btn-top-blue {
  color: blue;
}



.text-blue span { 
  background: #2C7CFF;
  padding: 5px;
  
}


.top-hero-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: image-url('top_background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.top-hero-container {
  margin-top: 40px;
  padding-top: 220px;
  h1 {
    font-size: 56px;
    margin-bottom: 20px;
  }

  h2 {
    margin-bottom: 60px;
  }
}

.text-white {
  font-size: 30px;
  border: 2px sold #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgba(0,0,0,0.0);
  color: white;
  
  &:hover {
    color: #fff;
  }
}

.form-control {
  height: 45px;
}

.users-new-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: image-url('top_background.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  

  .users-new-container {
   //margin-top: 220px;

    .form-group {
      margin-bottom: 20px;
    }
  }
}

.navbar-transparent {
  margin-bottom: 0px;
  background-color: rgba(0,0,0,0);
  a {
    color: #fff !important;
  }

  .navbar-brand {
    padding: 0px;
    margin-top: 15px;
  }

  img {
    height: 40px;
  }
}

/* show */
.show-container {
  margin-top: 350px;
  font-size: 30px;
}

/* edit */
.edit-container {
  margin-top: 300px;
  font-size: 25px;
}

.submit-btn { 
  margin-top :15px;
  text-align : center ; 
}

